.logo {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid dodgerblue;
  padding: 10px;
}

.content {
  margin: 5%;
  background-color: #dbdbdb;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
