<ion-header>
  <ion-toolbar align="center">
    <a href="tabs/start">
      <img class="logo" src="../../assets/img/LOGO.svg" />
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-title>Über uns</ion-title>
    <br>
    <div>
      Die Inhaber dieser Website sind wir, Ryan Fuchs und Timon Schmid. Wir beide sind Lernende Informatiker der des BBZW Sursee.
      Wir beide sind gemeinsam die Inhaber des Bauernhofes am Bauernweg-2.
      <br>
      Unser Ziel ist es in den Kommenden Jahren zu den ersten Bauern-Influencer der Schweiz zu werden. Ein erster wichtiger Schritt war das erstellen dieser mobilefreundlichen Website.
    </div>
    <br>
    <br>
    <video width="60%" controls>
      <source src="../../assets/video/kalb_video.mp4" type="video/mp4">
    </video>
    <div>
      <br>
      Mit genau solchen Videos möchten wir unsere Fans in Zukunft unterhalten und deren Tag berreichern.
    </div>
  </div>
</ion-content>
