.logo {
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
}

img {
  border-radius: 8px;
  max-height: 38vh;
}

ion-card {
  margin: 2%;
  padding: 2%;
}

.content {
  margin: 5%;
  background-color: navajowhite;
  text-align: center;
  padding: 3%;
}

.contact {
  margin: 5%;
  background-color: #dbdbdb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  background-color: navajowhite;
  padding: 5px;
}

.grid-container > div {
  background-color: white;
  padding: 5px;
}
