<ion-header>
  <ion-toolbar align="center">
    <a href="tabs/start">
      <img class="logo" src="../../assets/img/LOGO.svg" />
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h1>Herzlich Willkommen auf unserer Website!</h1>
    <br>
    <br>
    Unsere Website ist sehr vielfältig, sei es als Informationsseite über unseren Bauernhof oder als Virtual-Bauernhof experience mit Ton- und Videoaufnahmen.
    <br>
    <br>
    Diese Website wurde im Auftrag von Herrn Sanchez Ramon erstellt. Er ist Lehrer der Klasse s-Inf17b und unterrichtet das Modul 152. Die ersteller dieser Website sind Ryan Fuchs und Timon Schmid. Die Fotos welche auf unserer Seite finden wurden mit hilfe von Mike Häflliger, einem Bauernsohn und Informatik-lehrling erstellt. Wie verfügen über die nicht-kommerziellen rechte bei diesen Fotos. Falls es eine abweichende Quelle gibt wurde dies gekennzeichnet.
    <ion-card>
      <img src="../../assets/img/weide.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Neuerdings haben wir eine Fotogalerie!</ion-card-subtitle>
        <ion-card-title>Foto-Galerie!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      Wir haben unsere Website erweitert und eine <ion-router-link href="/tabs/fotos" class="underline">Fotogalerie</ion-router-link> erstellt. Nebst den Fotos gibt es auch immer gleich eine Kleine Hintergrundstory. Im verlauf der nächstenwochen wird diese Fotostrecke noch erweitert. Stay tuned!
      </ion-card-content>
    </ion-card>
  </div>
  <div class="contact">
    <div class="grid-container">
      <div>Familie Schmid & Fuchs</div>
      <div>Bauernweg 2</div>
      <div>6035 Menzberg</div>
      <div>041 443 96 87 </div>
      <div>www.shop.bbzw.ch</div>
      <div>shop@bbzw.ch</div>
    </div>
  </div>
</ion-content>
