<ion-tabs>

  <ion-tab-bar slot="buttom">
    <ion-tab-button tab="start">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fotos">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unser-bauernhof">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Unser Bauernhof</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ueber-uns">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Über uns</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
