<ion-header>
  <ion-toolbar align="center">
    <a href="tabs/start">
      <img class="logo" src="../../assets/img/LOGO.svg" />
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-title>Unser Baurenhof</ion-title>
    <br>
    <div>
      Unser Bauernhof liegt aktuell eher ausserhalb der Stadt-Region. Wir besitzen aktuell über ein 4 Dutzend Kühe welche über eine Freilauffläche von mehr als 40'000 verfügen. Nebst den Kühen bauen wir auch Früchte und Gemüsse an Dies möchten wir jedoch in Zukunft ändern um der städtischen Bevölkerung die Bauerntraion wieder näher zu bringen. Dafür haben wir auch bereits eine Idee welche wir sobald wie Möglich umsetzen möchten.
    </div>
    <ion-card>
      <div class="tooltip">
        <img src="../../assets/img/urban_farming.jpg"/>
        <span class="tooltiptext">Bild erhalten durch: https://zinco.ch/systeme/urban-farming</span>
      </div>
      <ion-card-header>
        <ion-card-subtitle>Ein biologischer Bauernbetrieb mitten ind der Stadt</ion-card-subtitle>
        <ion-card-title>Die Vision</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       Unser Betrieb, welcher beispielsweisse auf einem Hausdach stationiert sein könnte, soll den Bauernhof wieder zum Stadtbild zugehörig machen. Durch gratis eintritt wollen wir den Einwohner der Stadt den Anbau und das Ernten näher bringt. Somit werden sie über die Herkunft und Aufwand ihres Essens bewusster.
      </ion-card-content>
    </ion-card>
    <br>
    Eine weitere Vision ist es ein Virtual-Bauernhof erlebniss zu erstellen um den Bauernhof-Vibe den Benutzer unserer Webiste direkt aufs Enddivice zu bringen. Ein Beispiel ist dieses Audio-File welches eine Vögel.Zwitschernde Wiese welche gerade gemäht wird darstellen soll:<br><br>
    <audio controls class="audio">
      <source src="../../assets/mp3/audio_Vogel.ogg" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</ion-content>
