.logo {
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
}

.content {
  margin: 5%;
  background-color: navajowhite;
  text-align: center;
  padding: 3%;
}

img {
  border-radius: 8px;
  max-height: 38vh;
}

ion-card {
  margin: 2%;
  padding: 2%;
}

ion-title {
  border-radius: 8px;
  max-width: 40%;
  background-color: white;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: navajowhite;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
