<ion-header>
  <ion-toolbar align="center">
    <div class="logo">Logo-Placeholder</div>
    <ion-title><p align="center">Fotos</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <img src="../../assets/img/image.png" />
      <ion-card-header>
        <ion-card-subtitle>Example Foto 1</ion-card-subtitle>
        <ion-card-title>Must see!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/image.png" />
      <ion-card-header>
        <ion-card-subtitle>Example Foto 2</ion-card-subtitle>
        <ion-card-title>Must see!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
